<%= turbo_frame_tag dom_id(category) do %>
  <div class="card category-card item"
       style="min-width: 350px;"
       data-controller="category"
       data-category-name="<%= category.name %>"
       data-category-url-value="<%= category_path(category) %>">
    <h5 class="card-header mh-55">
      <div id='categoryName' class="d-flex align-items-center justify-content-between">
        <span data-category-target="name">
          <%= category.name %>
        </span>
        <div class="dropdown ms-2" data-category-target="dropdown">
          <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-ellipsis no-drug"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="#" data-action="category#showInput:prevent" class="dropdown-item">Rename</a>
            <a href="#" data-action="category#destroy:prevent" class="dropdown-item">Delete</a>
          </div>
        </div>
      </div>
    </h5>
    <div class="card-body no-drug">
      <ul class="p-0" data-category-id="<%= category.id %>" data-sortable-target="tasks">
        <% category.tasks.order(position: :asc).each do |t| %>
          <li class="task-item list-unstyled" data-task-id="<%= t.id %>">
            <i class="bi bi-arrows-move task-handle pr-3"></i>
            <%= t.title %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
